.addPet {
    margin: 58px 16px 0 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

button {
    outline: none;
    border: none;
}

.addPet .goBack {
    text-align: left;
    background-color: transparent;
    margin-bottom: 24px;
}

.addPet .goBack img {
    width: 20px;
}

.addPet h2 {
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    color: #000001;
    text-shadow: 0px 2px 80px #FFFFFF;
    text-align: left;
}

.addPet .type {
    margin: 0 22%;
}

.addPet .form p,
.addPet .type p {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #77787B;
    margin-top: 16px;
    margin-bottom: 4px;
    text-align: left;
}

.addPet .form input[type="text"],
.addPet input[type="date"] {
    background: #FFFFFF;
    border-radius: 4px;
    padding: 8px 16px;
    width: calc(100% - 32px);
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.addPet .form input[type="text"]::placeholder,
.addPet input[type="date"]::placeholder {
    font-size: 16px;
    line-height: 19px;
    color: #111212;
    font-family: 'Montserrat', sans-serif;
}

.addPet .form button {
    background: #6EA8FF;
    box-shadow: inset 10px 10px 24px rgba(255, 255, 255, 0.25);
    border-radius: 26.5px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 17px 121px;
    color: #FFFFFF;
    margin-top: 40px;
}

.form button:hover,
.form button:active {
    transition: all 0.7s ease-in-out;
    background: #6ea8ffb2;
}

.inputWrapper {
    width: 100%;
    position: relative;
    margin: 5px 0;
    text-align: center;

    
}
/*
@media (max-width: 500px) {
    .addPet {
        flex-direction: row;
    }
}*/