.account {
    display: flex;
    flex-direction: column;
    margin: 58px 16px 36px 16px;
    padding-bottom: 90px;
}

.account h2 {
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    color: #000001;
    margin-bottom: 16px;
}

.account h3 {
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;  
    color: #000001;
    text-shadow: 0px 2px 80px #FFFFFF;
    margin-bottom: 30px;
}

.history {
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;  
    color: #000001;
    text-shadow: 0px 2px 80px #FFFFFF;
    margin: 10px 0;
}

.history:hover {
    color: #1D6CE3;
    cursor: pointer;
    transition: color .5s linear;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn div {
    width: 5px;
    height: 5px;
    background-color: #77787B;
    border-radius: 50%;
}

.btn div:not(:last-child) {
    margin-right: 5px;
}

.profilImg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6EA8FF;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    margin: 0 auto;
}

.profilImg p {
    font-weight: 600;
    font-size: 23px;
    color: #FFFFFF;
}

.container img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    margin: 0 auto;
}

.container h4 {
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
}

.charts {
    animation-name: slideInDown;
    animation-duration: .5s;
    animation-fill-mode: both;
}

@keyframes slideInDown {
    0% {
        opacity: 0;
        transform: translateY(100%);
        visibility: visible;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
} 

.charts p {
    font-size: 18px;
    line-height: 25px;  
    color: #0000019f;
    text-shadow: 0px 2px 80px #FFFFFF;
}

.text {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #1D6CE3;
}

#noWalks {
    color: #1F6EE3;
    margin-top: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    text-align: left;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}

#areaChart {
    margin-top: 10px;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 425px) {
    .account h2 {
        font-size: 30px;
    }
    
    .account h3 {
        font-size: 23px;
        margin-bottom: 10px;
    }

    .account h3:last-child {
        font-size: 21px;
    }

    .profilImg,
    .container img {
        width: 60px;
        height: 60px;
    }

    .container h4 {
        font-size: 18px;
    }
}