.home {
    margin: 58px 16px 0 16px;
    display: flex;
    flex-direction: column;
    padding-bottom: 90px;
}
.home h2,
.home h3 {
    color: #000001;
}

.home h2 {
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 16px;
}

.home h3 {
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 8px;
}

.home h3:last-child:hover {
    color: #1D6CE3;
    cursor: pointer;
    transition: color .5s linear;
}

.home .text {
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    color: #1D6CE3;
    margin-top: 10px;
}

.home .btn {
    display: block;
    background: #6EA8FF;
    box-shadow: inset 10px 10px 24px rgba(255, 255, 255, 0.25);
    border-radius: 26.5px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    outline: none;
    color: #FFFFFF;
    text-decoration: none;
    padding: 17px 0;
    margin: 20px 10%;
}

.home .btn:hover,
.home .btn:active {
    background-color: #6ea8ffb2;
    transition: all 0.7s linear;
}

.petContainer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    background: #F1F3F6;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: -10px -10px 24px #FFFFFF, 10px 10px 24px #DDE2EE, inset -20px -20px 20px rgba(255, 255, 255, 0.25), inset 0px 0px 20px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    padding: 8px;
    margin: 16px 0;
    cursor: pointer;
}

.petContainer:hover {
    box-shadow: none;
    transition: all 0.3s linear;
}

.petContainer img {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
}

.petContainer p {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #727377;
    text-shadow: 0px 2px 80px #FFFFFF;
    margin: 4px 0;
}

.petContainer h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #0F1010;
    text-shadow: 0px 2px 80px #FFFFFF;
}

.points1,
.points2,
.points3 {
    display: flex;
    justify-content: center;
}

.points1 div,
.points2 div,
.points3 div {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.04);
    margin: 3px;
    background-color: #1d6ce354;
}

.points1 div:nth-child(1) {
    background-color: #1D6CE3;
}

.points2 div:nth-child(1),
.points2 div:nth-child(2) {
    background-color: #1D6CE3;
}

.points3 div {
    background-color: #1D6CE3;
}

.mood p {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #1D6CE3;
    text-shadow: 0px 2px 80px #FFFFFF;
}

.statsContainer {
    margin-bottom: 20px;
    height: 100%;
    animation-name: slideInDown;
    animation-duration: .3s;
    animation-fill-mode: both;
}

@keyframes slideInDown {
    0% {
        opacity: 0;
        transform: translateY(-20%);
        visibility: visible;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
} 

.statsContainer .plan {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    background: #F1F3F6;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: -10px -10px 24px #FFFFFF, 10px 10px 24px #DDE2EE, inset -20px -20px 20px rgba(255, 255, 255, 0.25), inset 0px 0px 20px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    padding: 5px 24px;
    margin: 16px 0;
}

.statsContainer h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #0F1010;
    text-shadow: 0px 2px 80px #FFFFFF;
    margin: 0 0 4px 0;
}

.statsContainer p {
    font-size: 12px;
    line-height: 15px;
    color: #6A6B6F;
    text-shadow: 0px 2px 80px #FFFFFF;
    text-align: left;
}

.statsContainer img {
    height: 50px;
    padding: 15px 0;
    margin: 0 auto;
}

.progressBar {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.progressBarCircle {
    box-shadow: inset 4px 4px 4px rgba(29, 108, 227, 0.16);
    fill: transparent;
    stroke: #E5E6E8;
    stroke-width: 15;
    stroke-dasharray: 130;
    stroke-dashoffset: 0;
}

.progressBarCirclePlan {
    fill: transparent;
    stroke: #87ABE1;
    stroke-width: 15;
    stroke-dasharray: 126;
}

.progressBarCircleEnergy {
    fill: transparent;
    stroke: #4EAFE5;
    stroke-width: 15;
    stroke-dasharray: 126;
}

@media (max-width: 425px) {
    .home h2 {
        font-size: 30px;
    }
    
    .home h3 {
        font-size: 21px;
    }

    .home .btn {
        font-size: 14px;
        padding: 17px 20%;
    }

    .petContainer p {
        font-size: 10px;
    }
    
    .petContainer h4 {
        font-size: 14px;
        line-height: 20px;
    }

    .petContainer img {
        width: 60px;
        height: 60px;
    }

    .mood p {
        font-size: 10px;
    }

    .points1 div,
    .points2 div,
    .points3 div {
        width: 7px;
        height: 7px;
    }
    
    .statsContainer h3 {
        font-size: 16px;
        line-height: 20px;
    }
    
    .statsContainer p {
        font-size: 10px;
        line-height: 12px;
    }
}
