.walk {
    margin: 58px 16px 0 16px;
    display: flex;
    flex-direction: column;
    padding-bottom: 90px;
}
.walk h2 {
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    color: #000001;
    text-shadow: 0px 2px 80px #FFFFFF;
    text-align: left;
}

.info {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 23px;
    padding: 21px 0;
    background: #F1F3F6;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 24px;
    box-shadow: -10px -10px 24px #FFFFFF, 10px 10px 24px #DDE2EE, inset -20px -20px 20px rgba(255, 255, 255, 0.25), inset 0px 0px 20px rgba(0, 0, 0, 0.04);
}

.info h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1D6CE3;
    padding-top: 4px;
}

.info p {
    font-size: 12px;
    line-height: 15px;
    color: #77787B;
    margin-top: 10px;
}

.btn {
    display: block;
    outline: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000001;
    background: #F1F3F6;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 26.5px;
    padding: 17px 0;
    box-shadow: 10px 10px 24px 0px #dde2ee, -10px -10px 24px 0px #ffffff, inset -20px -20px 20px rgba(255, 255, 255, 0.25), inset 0px 0px 20px rgba(0, 0, 0, 0.04);
    margin: 30px 10% 0 10%;
}

.btn:hover,
.btn:active {
    transition: all 0.7s ease-in-out;
    box-shadow: none;
}

.statsContainer {
    margin-bottom: 8%;
}

.statsContainer .plan {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    background: #F1F3F6;
    padding: 5px 24px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: -10px -10px 24px #FFFFFF, 10px 10px 24px #DDE2EE, inset -20px -20px 20px rgba(255, 255, 255, 0.25), inset 0px 0px 20px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    margin: 16px 0;
}

.statsContainer h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #0F1010;
    text-shadow: 0px 2px 80px #FFFFFF;
    margin: 0 0 4px 0;
    text-align: left;
}

.statsContainer p {
    font-size: 12px;
    line-height: 15px;
    color: #6A6B6F;
    text-shadow: 0px 2px 80px #FFFFFF;
    text-align: left;
}

.statsContainer img {
    height: 50px;
    padding: 15px 0;
    margin: 0 auto;
    animation-name: pulse;
    animation-duration: 2s;
    animation-fill-mode: both;
}

.progressBar {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    animation-name: pulse;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes pulse {
    0% {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(1.2, 1.2, 1.2);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
} 

.progressBarCircle {
    box-shadow: inset 4px 4px 4px rgba(29, 108, 227, 0.16);
    fill: transparent;
    stroke: #E5E6E8;
    stroke-width: 15;
    stroke-dasharray: 130;
    stroke-dashoffset: 0;
}

.progressBarCirclePlan {
    fill: transparent;
    stroke: #87abe1;
    stroke-width: 15;
    stroke-dasharray: 126;
}

.progressBarCircleEnergy {
    fill: transparent;
    stroke: #4EAFE5;
    stroke-width: 15;
    stroke-dasharray: 126;
}

.progressBarCircleObjectives {
    fill: transparent;
    stroke: #D7A141;
    stroke-width: 15;
    stroke-dasharray: 126;
}

.petContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
}

.petContainer img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    margin: 10px 15px;
    box-shadow: -10px -10px 24px #FFFFFF, 10px 10px 24px #DDE2EE, inset -20px -20px 20px rgba(255, 255, 255, 0.25), inset 0px 0px 20px rgba(0, 0, 0, 0.04);
}

@media (max-width: 425px) {
    .walk h2 {
        font-size: 30px;
    }

    .petContainer img {
        width: 70px;
        height: 70px;
    }

    .info h3 {
        font-size: 18px;
    }

    .btn {
        font-size: 14px;
        padding: 17px 15%;
    }

    .statsContainer {
        margin-bottom: 5%;
    }
    
    .statsContainer h3 {
        font-size: 16px;
        line-height: 20px;
    }
    
    .statsContainer p {
        font-size: 10px;
        line-height: 12px;
    }
}

@media (max-width: 343px) {
    .btn {
        font-size: 12px;
        padding: 17px 10%;
    }
}