.petSelection {
    margin: 58px 16px 0 16px;
    display: flex;
    flex-direction: column;
    padding-bottom: 90px;
}

.petSelection .goBack {
    text-align: left;
    background-color: transparent;
    margin-bottom: 24px;
}

.petSelection .goBack img {
    width: 20px;
}

.petSelection h3 {
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.pet {
    padding: 10px;
    text-align: center;
}

.pet img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 8px 32px rgb(29 108 227 / 16%);
}

.pet h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #0F1010;
    text-shadow: 0px 2px 80px #FFFFFF;
}

.btn {
    display: block;
    background: #6EA8FF;
    box-shadow: inset 10px 10px 24px rgba(255, 255, 255, 0.25);
    border-radius: 26.5px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    outline: none;
    color: #FFFFFF;
    text-decoration: none;
    padding: 17px 0;
    margin: 20px 10%;
}

.btn:hover,
.btn:active {
    transition: all 0.7s ease-in-out;
    background: #6ea8ffb2;
}

.error {
    color: #1F6EE3;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
    transition: all 1s linear;
}

.profilImg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6EA8FF;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    margin: 0 auto;
}

@media (max-width: 425px) {
    .petSelection h3 {
        font-size: 23px;
    }

    .pet img {
        width: 80px;
        height: 80px;
    }

    .pet h4 {
        font-size: 16px;
    }

    .btn {
        font-size: 12px;
        padding: 17px 20%;
    }
}