.nav {
    background: #D1FFFD;
    box-shadow: 0px 8px 32px rgba(29, 108, 227, 0.16);
    border-radius: 16px 16px 0px 0px;
    padding: 18px 0 30px 0;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    max-width: 1024px;
    bottom: 0;
}

.home, 
.pet,
.account {
    width: 29px;
    height: 29px;
    background-repeat: no-repeat;
}

.home {
    background-image: url('./../../assets/img/House_icon.png');
}

.homeActiv {
    background-image: url('./../../assets/img/House_icon_hover.png');
}

.home:hover {
    background-image: url('./../../assets/img/House_icon_hover.png');
    transition: all .4s linear;
}

.pet {
    background-image: url('./../../assets/img/Pet_icon.png');
}

.petActiv {
    background-image: url('./../../assets/img/Pet_icon_hover.png');
}

.pet:hover {
    background-image: url('./../../assets/img/Pet_icon_hover.png');
    transition: all .4s linear;
}

.account {
    background-image: url('./../../assets/img/Account_icon.png');
}

.accountActiv {
    background-image: url('./../../assets/img/Account_icon_hover.png');
}

.account:hover {
    background-image: url('./../../assets/img/Account_icon_hover.png');
    transition: all .4s linear;
}

@media (max-width: 425px) {
    .nav {
        padding: 18px 0;
    }
    
    .home, 
    .pet,
    .account {
        width: 29px;
        height: 29px;
    }
}