.registration {
    display: flex;
    flex-direction: column;
    margin: 58px 16px 36px 16px;
}

.registration h2 {
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    color: #000001;
    margin-bottom: 16px;
}

.registration h3 {
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;  
    color: #000001;
    text-shadow: 0px 2px 80px #FFFFFF;
    margin-bottom: 40px;
}

.form {
    margin: 0 8px;
    text-align: center;
}

.form img {
    margin-bottom: 16px;
}

.form p {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #77787B;
    margin: 0;
    padding-bottom: 4px;
    text-align: left;
}

.form input {
    outline: none;
    width: calc(100% - 32px);
    background: #FFFFFF;
    border-radius: 4px;
    padding: 8px 16px;
    border: none;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 19px;
    color: #111212;
}

.form input::placeholder {
    font-size: 16px;
    line-height: 19px;
    color: #111212;
}

.form button {
    display: block;
    outline: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000001;
    background: #F1F3F6;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 26.5px;
    padding: 17px 30%;
    box-shadow: 10px 10px 24px 0px #dde2ee, -10px -10px 24px 0px #ffffff, inset -20px -20px 20px rgba(255, 255, 255, 0.25), inset 0px 0px 20px rgba(0, 0, 0, 0.04);
    margin: 30% auto 32px auto;
}

.form button:hover,
.form button:active {
    transition: all 0.7s ease-in-out;
    box-shadow: none;
}

.registration p:last-child {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #1F6EE3;
    text-shadow: 0px 2px 80px #FFFFFF;
}

.registration p:last-child a {
    font-weight: bold;
}

.registration p:last-child a:visited,
.registration p:last-child a:active {
    color: #1F6EE3;
}

.inputWrapper {
    width: 100%;
    position: relative;
    margin: 5px 0;
    text-align: center;
}

.form .error {
    color: #1F6EE3;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    text-align: left;
}

@media (min-width: 768px) {
    .form button {
        padding: 17px 15%;
        margin: 15% auto 32px auto;
    }
}

@media (max-width: 425px) {
    .registration h2 {
        font-size: 30px;
    }
    
    .registration h3 {
        font-size: 23px;
        margin-bottom: 20px;
    }

    .form input {
        font-size: 14px;
    }
    
    .form input::placeholder {
        font-size: 14px;
    }

    .form button {
        font-size: 14px;
        padding: 17px 20%;
        margin: 10% auto 32px auto;
    }
}